{{/*
Generate service endpoints ConfigMap
*/}}
{{- define "service-endpoints.generate" -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Release.Name }}-service-endpoints
  namespace: {{ $.Values.platform.global.namespace | default "default" }}
  labels:
    app.kubernetes.io/name: {{ $.Release.Name }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
data:
  enabled-subcharts: {{ " " }}
    {{- $enabled := list }}
    {{- range $chartName, $chartValues := $.Values.platform }}
    {{- if and (not (eq $chartName "global")) (not (eq $chartName "nameOverride")) (not (eq $chartName "common")) }}
    {{- if or (hasKey $chartValues "enabled") (not (hasKey $chartValues "enabled")) }}
    {{- if or $chartValues.enabled (not (hasKey $chartValues "enabled")) }}
    {{- $enabled = append $enabled $chartName }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- $enabled | join "," }}
  {{- if $.Values.platform.service }}
  current-service-endpoint: {{ $.Values.platform.service.name | default $.Release.Name }}.{{ $.Values.platform.global.namespace | default "default" }}.svc.cluster.local:{{ $.Values.platform.service.port | default 80 }}
  {{- end }}
  service-endpoints.yaml: {{ " " }}
    {{- $endpointsResult := dict }}
    {{- if $.Values.platform.service }}
    {{- $subserviceName := $.Values.platform.service.name | default $.Release.Name }}
    {{- $subservicePort := $.Values.platform.service.port | default 80 }}
    {{- $namespace := $.Values.platform.global.namespace | default "default" }}
    {{- $endpoint := printf "%s.%s.svc.cluster.local:%s" $subserviceName $namespace ($subservicePort | toString) }}
    {{- $endpointsResult = set $endpointsResult $subserviceName $endpoint }}
    {{- end }}
    {{- $endpointsResult | toYaml | nindent 4 }}
{{- end }}

{{- include "service-endpoints.generate" . }}
