{{/*
Chart-wide template that creates service endpoints ConfigMap
with all enabled subcharts dynamically
*/}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-service-endpoints
  namespace: {{ .Values.platform-library.global.namespace | default "default" }}
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  # List of enabled subcharts
  enabled-subcharts: |
    {{- $enabled := list -}}
    {{- range $chartName, $chartValues := .Values -}}
      {{- if and (not (eq $chartName "global")) (not (eq $chartName "nameOverride")) (not (eq $chartName "common")) -}}
        {{- if or (hasKey $chartValues "enabled") (not (hasKey $chartValues "enabled")) -}}
          {{- if or $chartValues.enabled (not (hasKey $chartValues "enabled")) -}}
            {{- $enabled = append $enabled $chartName -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $enabled | join "," -}}

  # Dynamically generate all enabled service endpoints
  {{- $endpoints := dict -}}
  {{- range $chartName, $chartValues := .Values -}}
    {{- if and (not (eq $chartName "global")) (not (eq $chartName "nameOverride")) (not (eq $chartName "common")) -}}
      {{- if or (hasKey $chartValues "enabled") (not (hasKey $chartValues "enabled")) -}}
        {{- if or $chartValues.enabled (not (hasKey $chartValues "enabled")) -}}
          {{- $subserviceName := $chartName -}}
          {{- if $chartValues.service.name -}}
            {{- $subserviceName = $chartValues.service.name -}}
          {{- end -}}
          {{- $subservicePort := $chartValues.service.port | default 80 -}}
          {{- if $subservicePort -}}
            {{- $namespace := $chartValues.global.namespace | default $.Values.platform-library.global.namespace | default "default" -}}
            {{- $endpoint := printf "%s.%s.svc.cluster.local:%d" $subserviceName $namespace $subservicePort -}}
            {{- $endpoints = set $endpoints $subserviceName $endpoint -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- range $service, $endpoint := $endpoints }}
  {{- if $endpoint }}
  {{ $service }}-endpoint: {{ $endpoint | quote }}
  {{- end }}
  {{- end }}

  # All endpoints as structured data
  service-endpoints.yaml: |
    {{- $endpointsResult := dict -}}
    {{- range $chartName, $chartValues := .Values -}}
      {{- if and (not (eq $chartName "global")) (not (eq $chartName "nameOverride")) (not (eq $chartName "common")) -}}
        {{- if or (hasKey $chartValues "enabled") (not (hasKey $chartValues "enabled")) -}}
          {{- if or $chartValues.enabled (not (hasKey $chartValues "enabled")) -}}
            {{- $subserviceName := $chartName -}}
            {{- if $chartValues.service.name -}}
              {{- $subserviceName = $chartValues.service.name -}}
            {{- end -}}
            {{- $subservicePort := $chartValues.service.port | default 80 -}}
            {{- if $subservicePort -}}
              {{- $namespace := $chartValues.global.namespace | default $.Values.platform-library.global.namespace | default "default" -}}
              {{- $endpoint := printf "%s.%s.svc.cluster.local:%d" $subserviceName $namespace $subservicePort -}}
              {{- $endpointsResult = set $endpointsResult $subserviceName $endpoint -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $endpointsResult | toYaml | nindent 4 }}
